$--theme-color: #2D74E7;
$--theme-color-menu: #155DD1;
$--theme-color-menu-active: #2D74E7;

$color-theme-primary: #2068DC;
//$color-theme-primary: #3b5999;
$color-button: #1a5fcd;
//$color-button: #4464A6;
$color-background: #f9f9f9;
$color-text-header: rgba(255,255,255,.6);
$color-text-header-active: rgb(255,255,255);
$color-text-p: #333 ;
//$color-text-header-item-active: #1D66DC;
$color-text-header-item-active: #4464a6;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
